
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">Actualizar información</h6>

                <form class="form-horizontal p-t-20"
                        [formGroup]="articuloForm"
                        (submit)="guardarArticulo()">

                    <div class="form-group row"
                            *ngIf="articuloSeleccionado">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img [src]="articuloSeleccionado.img | imagen: 'articulos'" 
                                     class="w140"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="nombre"
                                        class="form-control" 
                                        id="exampleInputuname2" 
                                        placeholder="Nombre del articulo">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Articulos</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                
                                <textarea formControlName="cuerpo" 
                                        class="form-control" 
                                        rows="5"
                                        id="exampleInputuname3" 
                                        placeholder="Cuerpo del articulo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div formArrayName="indiceArt" *ngFor="let indice of indiceArt.controls; let i = index">
                            <div [formGroupName]="i">
                                <div>
                                    <label [attr.for]="'nombreIndice' + i">nombreIndice</label><br />
                                    <input type="text"  [attr.id]="'nombreIndice' + i" class="form-control" formControlName="nombreIndice" />
                                  </div>
                                  <div>
                                    <label [attr.for]="'cuerpoIndice' + i">cuerpoIndice</label><br />
                                    <input type="text"  [attr.id]="'cuerpoIndice' + i" class="form-control" formControlName="cuerpoIndice"/>
                                  </div>
                                  <button type="button" class="btn btn-primary" (click)="quitarIndice(i)" > quitar</button>
                                  <button type="button" class="btn btn-primary btn-block" (click)="addSubIndice(i)" >+ Agregar</button>

                                  <div formArrayName="SubIndice" *ngFor="let sindice of SubIndice(i).controls; let j = index">
                                    <div [formGroupName]="j">
                                        <div>
                                            <label [attr.for]="'nombreSubIndice' + j">nombreSubIndice</label><br />
                                            <input type="text" [attr.id]="'nombreSubIndice' + j" class="form-control" formControlName="nombreSubIndice" />
                                          </div>
                                          <div>
                                            <label [attr.for]="'cuerpoSubIndice' + j">cuerpoIndice</label><br />
                                            <input type="text"  [attr.id]="'cuerpoSubIndice' + j" class="form-control" formControlName="cuerpoSubIndice"/>
                                          </div>
                                          
                                    </div>
                                  </div>
                            </div>
                          </div>
                    
                    </div>
                    <button type="button" class="btn btn-primary btn-block" (click)="addIndices()" >+ Agregar</button>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Ley</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control"
                                        formControlName="leyes">
                                    <option value="">Seleccione ley</option>
                                    <option *ngFor="let ley of leyes"
                                        [value]="ley._id">
                                        {{ ley.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit"
                                    [disabled]="articuloForm.invalid"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col animated fadeIn fast"  
        *ngIf="leySeleccionado">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Ley</h4>
                <h6 class="card-subtitle">{{ leySeleccionado.nombre }}</h6>

                <img [src]="leySeleccionado.img | imagen:'leyes'" 
                    class="img-thumbnail"/>

            </div>
        </div>

    </div>
</div>


